$color: (
  primary: #4096ff,
  success: #1dd75b,
  warning: #efb0341f,
  danger: #f9623e1f,
);

// Font size
$font-size: (
  sm: 12px,
  normal: 14px,
  lg: 16px,
  xl: 20px,
  xxl: 24px,
  xxxl: 30px,
  xxxxl: 38px,
);
$line-height: (
  sm: 20px,
  normal: 22px,
  lg: 24px,
  xl: 28px,
  xxl: 32px,
  xxxl: 38px,
  xxxxl: 46px,
);
